<input type="checkbox" id="ham-menu">
<label for="ham-menu">
  <div class="hide-des">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </div>

</label>
<div class="full-page-green"></div>
<div class="ham-menu">
  <ul class="centre-text bold-text">
    <li routerLink="characters/true">PERSONAJES</li>
    <li routerLink="teachers">PROFESORES</li>
    <li routerLink="students">ESTUDIANTES</li>
    <li routerLink="requests">SOLICITUDES</li>
    <li routerLink="about">ACERCA DE</li>
  </ul>
</div>
